menu "Example Configuration"

    config BLINK_GPIO
        int "Blink GPIO number"
        range 0 34
        default 13
        help
            GPIO number (IOxx) to blink on and off.

            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

            GPIOs 35-39 are input-only so cannot be used as outputs.

    config STEP_LENGTH
        int "Number of steps"
        range 0 65535
        default 80
        help
            Number of steps per driver.
            Used to avoid to bump on the end.
endmenu
