menu "Example Configuration"

    config STEP_LENGTH
        int "Number of steps"
        range 0 65535
        default 80
        help
            Number of steps per driver.
            Used to avoid to bump on the end.
endmenu
